In [1]:
pwd

'C:\\Users\\user\\Pandas tutorial'

In [2]:
cd c:/Users/user/OneDrive/Desktop

c:\Users\user\OneDrive\Desktop

In [8]:
df = pd.read_csv("env-data-del.csv")
df

           day  temperature  wind speed  event
0   01-01-2019            6          32   rain
1   02-01-2019            7          44  sunny
2   03-01-2019            8          55   snow
3   04-01-2019            9          33    NaN
4   05-01-2019           10          55   rain
5   06-01-2019           11          22  sunny
6   07-01-2019           12          65   snow
7   08-01-2019           13          78    NaN
8   09-01-2019           14          65   rain
9   10-01-2019           15          76  sunny
10  11-01-2019           16          34   snow
11  12-01-2019           17          89   rain
12  13-01-2019           18          55  sunny
13  14-01-2019           19          90   snow
14  15-01-2019           20          56   snow
15  16-01-2019           21          18   snow

## changing date format

In [10]:
df = pd.read_csv("env-data-del.csv", parse_dates=["day"])
df.set_index('day',inplace=True)
df

            temperature  wind speed  event
day
2019-01-01            6          32   rain
2019-02-01            7          44  sunny
2019-03-01            8          55   snow
2019-04-01            9          33    NaN
2019-05-01           10          55   rain
2019-06-01           11          22  sunny
2019-07-01           12          65   snow
2019-08-01           13          78    NaN
2019-09-01           14          65   rain
2019-10-01           15          76  sunny
2019-11-01           16          34   snow
2019-12-01           17          89   rain
2019-01-13           18          55  sunny
2019-01-14           19          90   snow
2019-01-15           20          56   snow
2019-01-16           21          18   snow

## replacing nan values with fillna command

In [11]:
new_df = df.fillna("moderate")
new_df

            temperature  wind speed     event
day
2019-01-01            6          32      rain
2019-02-01            7          44     sunny
2019-03-01            8          55      snow
2019-04-01            9          33  moderate
2019-05-01           10          55      rain
2019-06-01           11          22     sunny
2019-07-01           12          65      snow
2019-08-01           13          78  moderate
2019-09-01           14          65      rain
2019-10-01           15          76     sunny
2019-11-01           16          34      snow
2019-12-01           17          89      rain
2019-01-13           18          55     sunny
2019-01-14           19          90      snow
2019-01-15           20          56      snow
2019-01-16           21          18      snow

## using forward fill command to keep the event meaning ful

In [12]:
new_df = df.fillna(method="ffill")
new_df

            temperature  wind speed  event
day
2019-01-01            6          32   rain
2019-02-01            7          44  sunny
2019-03-01            8          55   snow
2019-04-01            9          33   snow
2019-05-01           10          55   rain
2019-06-01           11          22  sunny
2019-07-01           12          65   snow
2019-08-01           13          78   snow
2019-09-01           14          65   rain
2019-10-01           15          76  sunny
2019-11-01           16          34   snow
2019-12-01           17          89   rain
2019-01-13           18          55  sunny
2019-01-14           19          90   snow
2019-01-15           20          56   snow
2019-01-16           21          18   snow

In [16]:
new_df = df.fillna(method="ffill" ,limit=2)
new_df

            temperature  wind speed  event
day
2019-01-01            6          32   rain
2019-02-01            7          44  sunny
2019-03-01            8          55   snow
2019-04-01            9          33   snow
2019-05-01           10          55   rain
2019-06-01           11          22  sunny
2019-07-01           12          65   snow
2019-08-01           13          78   snow
2019-09-01           14          65   rain
2019-10-01           15          76  sunny
2019-11-01           16          34   snow
2019-12-01           17          89   rain
2019-01-13           18          55  sunny
2019-01-14           19          90   snow
2019-01-15           20          56   snow
2019-01-16           21          18   snow