In [1]:
pwd

'C:\\Users\\user\\OneDrive\\Desktop\\scatter-plotter\\Datacamp'

In [2]:
cd C:\\Users\\user\\OneDrive\\Desktop\\CSV files

C:\Users\user\OneDrive\Desktop\CSV files

In [3]:
# loading separate file
import pandas as pd
dataframe0 = pd.read_csv('sales-jan-2015.csv')
dataframe1 = pd.read_csv('sales-feb-2015.csv')
dataframe0

                Date          Company   Product  Units
0   21-01-2015 19:13        Streeplex  Hardware     11
1   09-01-2015 05:23        Streeplex   Service      8
2   06-01-2015 17:19          Initech  Hardware     17
3   02-01-2015 09:51            Hooli  Hardware     16
4   11-01-2015 14:51            Hooli  Hardware     11
5   01-01-2015 07:31  Acme Coporation  Software     18
6   24-01-2015 08:01          Initech  Software      1
7   25-01-2015 15:40          Initech   Service      6
8   13-01-2015 05:36            Hooli   Service      7
9   03-01-2015 18:00            Hooli   Service     19
10  16-01-2015 00:33            Hooli  Hardware     17
11  16-01-2015 07:21          Initech   Service     13
12  20-01-2015 19:49  Acme Coporation  Hardware     12
13  26-01-2015 01:50  Acme Coporation  Software     14
14  15-01-2015 02:38  Acme Coporation   Service     16
15  06-01-2015 13:47  Acme Coporation  Software     16
16  15-01-2015 15:33        Mediacore  Hardware      7
17  27-01-2015 07:11        Streeplex   Service     18
18  20-01-2015 11:28        Streeplex  Software     13
19  16-01-2015 19:20        Mediacore   Service      8

In [4]:
dataframe1

                   Date          Company   Product  Units
0   2015-02-26 08:57:45        Streeplex   Service      4
1   2015-02-16 12:09:19            Hooli  Software     10
2   2015-02-03 14:14:18          Initech  Software     13
3   2015-02-02 08:33:01            Hooli  Software      3
4   2015-02-25 00:29:00          Initech   Service     10
5   2015-02-05 01:53:06  Acme Coporation  Software     19
6   2015-02-09 08:57:30        Streeplex   Service     19
7   2015-02-11 20:03:08          Initech  Software      7
8   2015-02-04 21:52:45  Acme Coporation  Hardware     14
9   2015-02-09 13:09:55        Mediacore  Software      7
10  2015-02-07 22:58:10  Acme Coporation  Hardware      1
11  2015-02-11 22:50:44            Hooli  Software      4
12  2015-02-26 08:58:51        Streeplex   Service      1
13  2015-02-05 22:05:03            Hooli   Service     10
14  2015-02-04 15:36:29        Streeplex  Software     13
15  2015-02-19 16:02:58        Mediacore   Service     10
16  2015-02-19 10:59:33        Mediacore  Hardware     16
17  2015-02-02 20:54:49        Mediacore  Hardware      9
18  2015-02-21 05:01:26        Mediacore  Software      3
19  2015-02-21 20:41:47            Hooli  Hardware      3

In [5]:
# using a loop to call file
filenames = ['sales-jan-2015.csv', 'sales-feb-2015.csv']
dataframes = []
for filename in filenames:
    dataframes.append(pd.read_csv(filename))
    
print(dataframes[0].head(7))

               Date          Company   Product  Units
0  21-01-2015 19:13        Streeplex  Hardware     11
1  09-01-2015 05:23        Streeplex   Service      8
2  06-01-2015 17:19          Initech  Hardware     17
3  02-01-2015 09:51            Hooli  Hardware     16
4  11-01-2015 14:51            Hooli  Hardware     11
5  01-01-2015 07:31  Acme Coporation  Software     18
6  24-01-2015 08:01          Initech  Software      1

In [6]:
# using comprehension
filenames = ['sales-jan-2015.csv', 'sales-feb-2015.csv']
dataframes = [pd.read_csv(filename) for filename in filenames]
dataframes

[                Date          Company   Product  Units
 0   21-01-2015 19:13        Streeplex  Hardware     11
 1   09-01-2015 05:23        Streeplex   Service      8
 2   06-01-2015 17:19          Initech  Hardware     17
 3   02-01-2015 09:51            Hooli  Hardware     16
 4   11-01-2015 14:51            Hooli  Hardware     11
 5   01-01-2015 07:31  Acme Coporation  Software     18
 6   24-01-2015 08:01          Initech  Software      1
 7   25-01-2015 15:40          Initech   Service      6
 8   13-01-2015 05:36            Hooli   Service      7
 9   03-01-2015 18:00            Hooli   Service     19
 10  16-01-2015 00:33            Hooli  Hardware     17
 11  16-01-2015 07:21          Initech   Service     13
 12  20-01-2015 19:49  Acme Coporation  Hardware     12
 13  26-01-2015 01:50  Acme Coporation  Software     14
 14  15-01-2015 02:38  Acme Coporation   Service     16
 15  06-01-2015 13:47  Acme Coporation  Software     16
 16  15-01-2015 15:33        Mediacore  Hardware      7
 17  27-01-2015 07:11        Streeplex   Service     18
 18  20-01-2015 11:28        Streeplex  Software     13
 19  16-01-2015 19:20        Mediacore   Service      8,
                    Date          Company   Product  Units
 0   2015-02-26 08:57:45        Streeplex   Service      4
 1   2015-02-16 12:09:19            Hooli  Software     10
 2   2015-02-03 14:14:18          Initech  Software     13
 3   2015-02-02 08:33:01            Hooli  Software      3
 4   2015-02-25 00:29:00          Initech   Service     10
 5   2015-02-05 01:53:06  Acme Coporation  Software     19
 6   2015-02-09 08:57:30        Streeplex   Service     19
 7   2015-02-11 20:03:08          Initech  Software      7
 8   2015-02-04 21:52:45  Acme Coporation  Hardware     14
 9   2015-02-09 13:09:55        Mediacore  Software      7
 10  2015-02-07 22:58:10  Acme Coporation  Hardware      1
 11  2015-02-11 22:50:44            Hooli  Software      4
 12  2015-02-26 08:58:51        Streeplex   Service      1
 13  2015-02-05 22:05:03            Hooli   Service     10
 14  2015-02-04 15:36:29        Streeplex  Software     13
 15  2015-02-19 16:02:58        Mediacore   Service     10
 16  2015-02-19 10:59:33        Mediacore  Hardware     16
 17  2015-02-02 20:54:49        Mediacore  Hardware      9
 18  2015-02-21 05:01:26        Mediacore  Software      3
 19  2015-02-21 20:41:47            Hooli  Hardware      3]

In [7]:
# using glob
from glob import glob
filenames = glob('sales*.csv')
dataframes = [pd.read_csv(filename) for filename in filenames]
dataframes

[                   Date          Company   Product  Units
 0   2015-02-26 08:57:45        Streeplex   Service      4
 1   2015-02-16 12:09:19            Hooli  Software     10
 2   2015-02-03 14:14:18          Initech  Software     13
 3   2015-02-02 08:33:01            Hooli  Software      3
 4   2015-02-25 00:29:00          Initech   Service     10
 5   2015-02-05 01:53:06  Acme Coporation  Software     19
 6   2015-02-09 08:57:30        Streeplex   Service     19
 7   2015-02-11 20:03:08          Initech  Software      7
 8   2015-02-04 21:52:45  Acme Coporation  Hardware     14
 9   2015-02-09 13:09:55        Mediacore  Software      7
 10  2015-02-07 22:58:10  Acme Coporation  Hardware      1
 11  2015-02-11 22:50:44            Hooli  Software      4
 12  2015-02-26 08:58:51        Streeplex   Service      1
 13  2015-02-05 22:05:03            Hooli   Service     10
 14  2015-02-04 15:36:29        Streeplex  Software     13
 15  2015-02-19 16:02:58        Mediacore   Service     10
 16  2015-02-19 10:59:33        Mediacore  Hardware     16
 17  2015-02-02 20:54:49        Mediacore  Hardware      9
 18  2015-02-21 05:01:26        Mediacore  Software      3
 19  2015-02-21 20:41:47            Hooli  Hardware      3,
                 Date          Company   Product  Units
 0   21-01-2015 19:13        Streeplex  Hardware     11
 1   09-01-2015 05:23        Streeplex   Service      8
 2   06-01-2015 17:19          Initech  Hardware     17
 3   02-01-2015 09:51            Hooli  Hardware     16
 4   11-01-2015 14:51            Hooli  Hardware     11
 5   01-01-2015 07:31  Acme Coporation  Software     18
 6   24-01-2015 08:01          Initech  Software      1
 7   25-01-2015 15:40          Initech   Service      6
 8   13-01-2015 05:36            Hooli   Service      7
 9   03-01-2015 18:00            Hooli   Service     19
 10  16-01-2015 00:33            Hooli  Hardware     17
 11  16-01-2015 07:21          Initech   Service     13
 12  20-01-2015 19:49  Acme Coporation  Hardware     12
 13  26-01-2015 01:50  Acme Coporation  Software     14
 14  15-01-2015 02:38  Acme Coporation   Service     16
 15  06-01-2015 13:47  Acme Coporation  Software     16
 16  15-01-2015 15:33        Mediacore  Hardware      7
 17  27-01-2015 07:11        Streeplex   Service     18
 18  20-01-2015 11:28        Streeplex  Software     13
 19  16-01-2015 19:20        Mediacore   Service      8,
                 Date          Company   Product  Units
 0   02-02-2015 08:30            Hooli  Software      3
 1   02-02-2015 21:00        Mediacore  Hardware      9
 2   03-02-2015 14:00          Initech  Software     13
 3   04-02-2015 15:30        Streeplex  Software     13
 4   04-02-2015 22:00  Acme Coporation  Hardware     14
 5   05-02-2015 02:00  Acme Coporation  Software     19
 6   05-02-2015 22:00            Hooli   Service     10
 7   07-02-2015 23:00  Acme Coporation  Hardware      1
 8   09-02-2015 09:00        Streeplex   Service     19
 9   09-02-2015 13:00        Mediacore  Software      7
 10  11-02-2015 20:00          Initech  Software      7
 11  11-02-2015 23:00            Hooli  Software      4
 12  16-02-2015 12:00            Hooli  Software     10
 13  19-02-2015 11:00        Mediacore  Hardware     16
 14  19-02-2015 16:00        Mediacore   Service     10
 15  21-02-2015 05:00        Mediacore  Software      3
 16  21-02-2015 20:30            Hooli  Hardware      3
 17  25-02-2015 00:30          Initech   Service     10
 18  26-02-2015 09:00        Streeplex   Service      4]

In [8]:
# indexes vs indices
dataframe0 = pd.read_csv('sales-jan-2015.csv',index_col='Company')
dataframe1 = pd.read_csv('sales-feb-2015.csv',index_col='Company')
dataframe0.head(5)

                       Date   Product  Units
Company
Streeplex  21-01-2015 19:13  Hardware     11
Streeplex  09-01-2015 05:23   Service      8
Initech    06-01-2015 17:19  Hardware     17
Hooli      02-01-2015 09:51  Hardware     16
Hooli      11-01-2015 14:51  Hardware     11

In [9]:
dataframe1

                                Date   Product  Units
Company
Streeplex        2015-02-26 08:57:45   Service      4
Hooli            2015-02-16 12:09:19  Software     10
Initech          2015-02-03 14:14:18  Software     13
Hooli            2015-02-02 08:33:01  Software      3
Initech          2015-02-25 00:29:00   Service     10
Acme Coporation  2015-02-05 01:53:06  Software     19
Streeplex        2015-02-09 08:57:30   Service     19
Initech          2015-02-11 20:03:08  Software      7
Acme Coporation  2015-02-04 21:52:45  Hardware     14
Mediacore        2015-02-09 13:09:55  Software      7
Acme Coporation  2015-02-07 22:58:10  Hardware      1
Hooli            2015-02-11 22:50:44  Software      4
Streeplex        2015-02-26 08:58:51   Service      1
Hooli            2015-02-05 22:05:03   Service     10
Streeplex        2015-02-04 15:36:29  Software     13
Mediacore        2015-02-19 16:02:58   Service     10
Mediacore        2015-02-19 10:59:33  Hardware     16
Mediacore        2015-02-02 20:54:49  Hardware      9
Mediacore        2015-02-21 05:01:26  Software      3
Hooli            2015-02-21 20:41:47  Hardware      3

In [10]:
# dataframe indexes
print(dataframe1.index)

Index(['Streeplex', 'Hooli', 'Initech', 'Hooli', 'Initech', 'Acme Coporation',
       'Streeplex', 'Initech', 'Acme Coporation', 'Mediacore',
       'Acme Coporation', 'Hooli', 'Streeplex', 'Hooli', 'Streeplex',
       'Mediacore', 'Mediacore', 'Mediacore', 'Mediacore', 'Hooli'],
      dtype='object', name='Company')

In [11]:
print(dataframe0.index)

Index(['Streeplex', 'Streeplex', 'Initech', 'Hooli', 'Hooli',
       'Acme Coporation', 'Initech', 'Initech', 'Hooli', 'Hooli', 'Hooli',
       'Initech', 'Acme Coporation', 'Acme Coporation', 'Acme Coporation',
       'Acme Coporation', 'Mediacore', 'Streeplex', 'Streeplex', 'Mediacore'],
      dtype='object', name='Company')

In [12]:
print(type(dataframe1.index))

<class 'pandas.core.indexes.base.Index'>

In [13]:
# Arithmetic with series and dataframes
df = pd.read_csv('pittsburgh2013.csv',index_col='Date', parse_dates=True)
df

,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,Mean Dew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,Max Sea Level PressureIn,...,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-01,32,28,21,30,27,16,100,89,77,30.10,...,10,6,2,10,8,NaN,0.00,8,Snow,277
2013-01-02,25,21,17,14,12,10,77,67,55,30.27,...,10,10,10,14,5,NaN,0.00,4,NaN,272
2013-01-03,32,24,16,19,15,9,77,67,56,30.25,...,10,10,10,17,8,26.0,0.00,3,NaN,229
2013-01-04,30,28,27,21,19,17,75,68,59,30.28,...,10,10,6,23,16,32.0,0.00,4,NaN,250
2013-01-05,34,30,25,23,20,16,75,68,61,30.42,...,10,10,10,16,10,23.0,0.21,5,NaN,221
2013-01-06,37,34,32,31,28,23,87,75,65,30.22,...,10,10,8,14,9,22.0,0.26,8,Snow,232
2013-01-07,33,29,25,27,24,21,86,78,65,30.48,...,10,7,4,10,8,NaN,0.06,5,NaN,236
2013-01-08,43,31,19,29,24,19,100,75,51,30.39,...,10,8,2,12,7,NaN,0.00,0,NaN,178
2013-01-09,45,36,28,39,32,25,89,76,65,30.50,...,10,10,5,18,11,25.0,0.03,3,Rain,211
2013-01-10,41,34,30,29,27,25,85,69,53,30.63,...,10,10,8,10,6,NaN,0.00,0,NaN,72
2013-01-11,53,47,41,52,44,26,100,86,51,30.29,...,10,7,0,9,7,NaN,0.15,6,Fog-Rain,160
2013-01-12,62,55,48,56,52,48,100,94,72,30.09,...,10,5,0,10,7,18.0,0.02,6,Fog-Rain,181
2013-01-13,68,62,55,56,53,51,100,77,61,29.95,...,10,9,4,21,9,26.0,0.16,4,Rain,190
2013-01-14,57,44,30,55,34,23,94,79,60,30.39,...,10,10,3,22,9,32.0,0.03,5,Rain,317
2013-01-15,33,30,26,30,24,21,96,79,69,30.41,...,10,8,1,9,5,NaN,0.00,4,Rain-Snow,360
2013-01-16,34,32,30,32,31,28,100,94,85,30.06,...,10,3,0,14,3,21.0,0.20,7,Fog-Rain,270
2013-01-17,33,32,30,28,27,26,93,82,75,30.20,...,10,8,2,15,9,20.0,0.04,5,Snow,251
2013-01-18,30,24,19,22,14,5,86,62,47,30.52,...,10,8,0,21,12,29.0,0.03,3,Fog-Snow,284
2013-01-19,52,42,32,21,16,11,48,34,24,30.26,...,10,10,10,24,15,39.0,0.05,1,NaN,204
2013-01-20,46,35,24,29,17,10,60,50,40,30.15,...,10,10,10,23,16,34.0,0.00,2,NaN,277
2013-01-21,25,18,12,19,12,-1,93,69,52,30.12,...,10,7,0,21,9,32.0,0.00,7,Fog-Snow,267
2013-01-22,12,9,6,3,-2,-6,70,60,48,30.32,...,10,10,6,17,13,26.0,0.00,4,NaN,274
2013-01-23,16,11,6,10,1,-3,80,62,45,30.34,...,10,10,7,13,8,20.0,0.00,4,NaN,247
2013-01-24,21,16,12,11,6,-5,88,67,33,30.57,...,10,8,2,14,5,21.0,0.00,5,Snow,324
2013-01-25,19,16,12,16,10,3,86,76,58,30.52,...,10,5,0,9,4,NaN,0.00,7,Fog-Snow,124
2013-01-26,27,23,19,21,18,13,93,79,63,30.47,...,10,5,1,10,7,16.0,0.00,8,Snow,275
2013-01-27,30,23,16,19,15,13,93,70,51,30.57,...,10,8,2,6,2,NaN,0.21,1,NaN,109
2013-01-28,50,40,30,49,38,19,100,91,61,30.32,...,10,4,1,18,9,26.0,0.50,8,Rain-Snow,195
2013-01-29,68,59,50,54,51,49,100,66,54,30.06,...,10,5,0,15,8,22.0,0.02,5,Fog,193
2013-01-30,66,58,48,56,52,43,100,84,60,29.76,...,10,8,1,30,14,50.0,0.99,6,Rain,186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-12-02,48,42,37,35,32,28,83,67,56,29.98,...,10,10,8,7,5,NaN,0.00,7,Rain,248
2013-12-03,54,46,37,40,37,34,93,75,53,29.93,...,10,7,2,6,2,NaN,0.01,4,Rain,83
2013-12-04,57,50,42,45,41,36,80,69,62,30.01,...,10,9,5,9,5,NaN,0.00,3,NaN,142
2013-12-05,63,51,39,58,50,37,94,84,65,30.05,...,10,5,2,20,10,29.0,1.00,7,Rain,210
2013-12-06,39,34,28,37,31,26,93,89,81,30.29,...,10,5,0,14,8,22.0,0.59,8,Fog-Rain-Snow,341
2013-12-07,30,26,19,27,20,12,93,75,58,30.61,...,10,10,2,10,7,20.0,0.00,6,Snow,331
2013-12-08,30,24,19,29,20,11,93,81,68,30.58,...,10,5,0,13,6,17.0,0.09,7,Fog-Rain-Snow,82
2013-12-09,37,34,30,37,32,22,100,87,69,30.16,...,10,4,0,17,9,24.0,0.04,8,Fog-Rain,200
2013-12-10,30,26,23,22,18,8,88,71,43,30.29,...,10,6,0,20,10,25.0,0.05,5,Fog-Snow,267
2013-12-11,30,24,19,21,14,10,80,64,51,30.38,...,10,9,3,16,10,24.0,0.00,4,Snow,255
2013-12-12,23,18,12,12,5,2,71,57,42,30.50,...,10,10,9,16,10,26.0,0.00,4,NaN,260
2013-12-13,34,28,21,17,11,3,59,50,45,30.29,...,10,10,10,15,9,NaN,0.00,2,NaN,233
2013-12-14,39,34,30,37,30,17,93,85,54,30.25,...,10,4,0,14,6,21.0,0.55,8,Fog-Rain-Snow,127
2013-12-15,39,30,21,37,24,8,93,78,55,30.06,...,10,8,2,26,13,36.0,0.02,8,Rain-Snow,264
2013-12-16,26,22,19,21,15,10,86,73,62,30.20,...,10,7,2,8,5,17.0,0.00,8,Snow,297
2013-12-17,35,30,24,31,25,21,93,82,66,30.06,...,10,5,1,14,7,23.0,0.07,8,Snow,228
2013-12-18,28,26,24,25,20,16,93,76,63,30.22,...,10,9,2,16,11,22.0,0.00,6,Snow,249
2013-12-19,51,39,27,33,25,17,72,52,42,30.14,...,10,10,10,16,10,24.0,0.00,0,NaN,202
2013-12-20,55,50,46,49,39,24,86,64,36,30.02,...,10,10,5,16,11,26.0,0.02,7,Rain,193
2013-12-21,61,58,55,59,54,48,94,86,74,29.90,...,10,8,2,20,10,28.0,0.81,7,Rain,183
2013-12-22,68,62,55,58,53,46,90,75,65,29.95,...,10,10,2,26,15,47.0,0.20,7,Rain,214
2013-12-23,55,42,30,46,33,17,93,78,57,30.31,...,10,8,4,16,8,26.0,0.07,8,Rain,291
2013-12-24,30,22,14,23,15,5,86,69,46,30.55,...,10,6,0,18,9,29.0,0.02,7,Fog-Snow,285
2013-12-25,27,20,12,23,14,6,88,71,55,30.54,...,10,8,2,7,4,NaN,0.00,5,Snow,164
2013-12-26,36,31,26,27,23,13,93,74,48,30.37,...,10,6,1,20,9,28.0,0.06,6,Snow,220
2013-12-27,41,34,27,25,20,14,66,56,48,30.39,...,10,10,10,12,8,NaN,0.00,4,NaN,207
2013-12-28,52,43,34,27,24,19,56,47,38,30.27,...,10,10,10,16,10,20.0,0.00,0,NaN,197
2013-12-29,44,42,39,40,37,23,100,87,45,30.03,...,10,5,0,15,8,21.0,0.66,8,Fog-Rain,301
2013-12-30,41,32,23,37,21,14,87,76,64,30.22,...,10,8,1,16,9,26.0,0.01,8,Rain-Snow,320
2013-12-31,26,24,23,21,17,12,85,73,60,30.34,...,10,6,0,22,9,33.0,0.00,7,Snow,235

In [14]:
df.loc['2013-7-1':'2013-7-7', 'PrecipitationIn']

Date
2013-07-01    0.18
2013-07-02    0.14
2013-07-03    0.00
2013-07-04    0.25
2013-07-05    0.02
2013-07-06    0.06
2013-07-07    0.10
Name: PrecipitationIn, dtype: float64

In [15]:
# scalar multiplication
df.loc['2013-07-01':'2013-07-07', 'PrecipitationIn'] * 7.54

Date
2013-07-01    1.3572
2013-07-02    1.0556
2013-07-03    0.0000
2013-07-04    1.8850
2013-07-05    0.1508
2013-07-06    0.4524
2013-07-07    0.7540
Name: PrecipitationIn, dtype: float64

In [16]:
# absolute temperature range
week1_range = df.loc['2013-07-01':'2013-07-07',['Min TemperatureF', 'Max TemperatureF']]

In [17]:
week1_range

            Min TemperatureF  Max TemperatureF
Date
2013-07-01                66                79
2013-07-02                66                84
2013-07-03                71                86
2013-07-04                70                86
2013-07-05                69                86
2013-07-06                70                89
2013-07-07                70                77

In [18]:
# average temperature
week1_mean = df.loc['2013-07-01':'2013-07-07','Mean TemperatureF']

In [19]:
week1_mean

Date
2013-07-01    72
2013-07-02    74
2013-07-03    78
2013-07-04    77
2013-07-05    76
2013-07-06    78
2013-07-07    72
Name: Mean TemperatureF, dtype: int64

In [20]:
week1_range.divide(week1_mean, axis=0)

            Min TemperatureF  Max TemperatureF
Date
2013-07-01          0.916667          1.097222
2013-07-02          0.891892          1.135135
2013-07-03          0.910256          1.102564
2013-07-04          0.909091          1.116883
2013-07-05          0.907895          1.131579
2013-07-06          0.897436          1.141026
2013-07-07          0.972222          1.069444

In [21]:
# percentage change
week1_mean.pct_change() * 100

Date
2013-07-01         NaN
2013-07-02    2.777778
2013-07-03    5.405405
2013-07-04   -1.282051
2013-07-05   -1.298701
2013-07-06    2.631579
2013-07-07   -7.692308
Name: Mean TemperatureF, dtype: float64

# using append and concate in dataset

In [22]:
# Using .append()
northeast = pd.Series(['CT', 'ME', 'MA', 'NH', 'RI', 'VT','NJ', 'NY', 'PA'])
south = pd.Series(['DE', 'FL', 'GA', 'MD', 'NC', 'SC', 'VA','DC', 'WV', 'AL', 'KY', 'MS', 'TN', 'AR', 'LA', 'OK', 'TX'])
midwest = pd.Series(['IL', 'IN', 'MN', 'MO', 'NE', 'ND','SD', 'IA', 'KS', 'MI', 'OH', 'WI'])
west = pd.Series(['AZ', 'CO', 'ID', 'MT', 'NV', 'NM','UT', 'WY', 'AK', 'CA', 'HI', 'OR','WA'])
east = northeast.append(south)
east

0     CT
1     ME
2     MA
3     NH
4     RI
5     VT
6     NJ
7     NY
8     PA
0     DE
1     FL
2     GA
3     MD
4     NC
5     SC
6     VA
7     DC
8     WV
9     AL
10    KY
11    MS
12    TN
13    AR
14    LA
15    OK
16    TX
dtype: object

In [23]:
# The appended Index
east.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  0,  1,  2,  3,  4,  5,  6,  7,
             8,  9, 10, 11, 12, 13, 14, 15, 16],
           dtype='int64')

In [24]:
east.loc[3]

3    NH
3    MD
dtype: object

In [25]:
# Using .reset_index()
new_east = northeast.append(south).reset_index(drop=True)
print(new_east.head(11))

0     CT
1     ME
2     MA
3     NH
4     RI
5     VT
6     NJ
7     NY
8     PA
9     DE
10    FL
dtype: object

In [26]:
print(new_east.index)

RangeIndex(start=0, stop=26, step=1)

In [27]:
# Using concat()
east = pd.concat([northeast, south])

In [28]:
east.head(11)

0    CT
1    ME
2    MA
3    NH
4    RI
5    VT
6    NJ
7    NY
8    PA
0    DE
1    FL
dtype: object

In [29]:
print(east.index)

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  0,  1,  2,  3,  4,  5,  6,  7,
             8,  9, 10, 11, 12, 13, 14, 15, 16],
           dtype='int64')

In [30]:
# Using ignore_index
new_east = pd.concat([northeast, south],ignore_index=True)

In [31]:
print(new_east.head(11))

0     CT
1     ME
2     MA
3     NH
4     RI
5     VT
6     NJ
7     NY
8     PA
9     DE
10    FL
dtype: object

In [32]:
print(new_east.index)

RangeIndex(start=0, stop=26, step=1)

In [33]:
pwd

'C:\\Users\\user\\OneDrive\\Desktop\\CSV files'

In [34]:
data1 = pd.read_csv('world_population.csv')
data2 = pd.read_csv('world_dev_ind.csv')
print(type(data1), data1.shape)

<class 'pandas.core.frame.DataFrame'> (6, 2)

In [35]:
print(type(data2), data2.shape)

<class 'pandas.core.frame.DataFrame'> (13374, 5)

In [36]:
data1

   Year  Total Population
0  1960      3.034971e+09
1  1970      3.684823e+09
2  1980      4.436590e+09
3  1990      5.282716e+09
4  2000      6.115974e+09
5  2010      6.924283e+09

In [37]:
data2

,CountryName,CountryCode,Year,Total Population,Urban population (% of total)
0,Arab World,ARB,1960,9.249590e+07,31.285384
1,Caribbean small states,CSS,1960,4.190810e+06,31.597490
2,Central Europe and the Baltics,CEB,1960,9.140158e+07,44.507921
3,East Asia & Pacific (all income levels),EAS,1960,1.042475e+09,22.471132
4,East Asia & Pacific (developing only),EAP,1960,8.964930e+08,16.917679
5,Euro area,EMU,1960,2.653965e+08,62.096947
6,Europe & Central Asia (all income levels),ECS,1960,6.674890e+08,55.378977
7,Europe & Central Asia (developing only),ECA,1960,1.553174e+08,38.066129
8,European Union,EUU,1960,4.094985e+08,61.212898
9,Fragile and conflict affected situations,FCS,1960,1.203546e+08,17.891972
10,Heavily indebted poor countries (HIPC),HPC,1960,1.624912e+08,12.236046
11,High income,HIC,1960,9.075975e+08,62.680332
12,High income: nonOECD,NOC,1960,1.866767e+08,56.107863
13,High income: OECD,OEC,1960,7.209208e+08,64.285435
14,Latin America & Caribbean (all income levels),LCN,1960,2.205642e+08,49.284688
15,Latin America & Caribbean (developing only),LAC,1960,1.776822e+08,44.863308
16,Least developed countries: UN classification,LDC,1960,2.410728e+08,9.616261
17,Low & middle income,LMY,1960,2.127373e+09,21.272894
18,Low income,LIC,1960,1.571884e+08,11.498396
19,Lower middle income,LMC,1960,9.429116e+08,19.810513
20,Middle East & North Africa (all income levels),MEA,1960,1.055126e+08,34.951334
21,Middle East & North Africa (developing only),MNA,1960,9.786942e+07,33.875012
22,Middle income,MIC,1960,1.970185e+09,22.053114
23,North America,NAC,1960,1.986244e+08,69.918403
24,OECD members,OED,1960,7.866482e+08,62.480915
25,Other small states,OSS,1960,6.590560e+06,14.337844
26,Pacific island small states,PSS,1960,8.613780e+05,22.043762
27,Small states,SST,1960,1.164275e+07,21.120573
28,South Asia,SAS,1960,5.720361e+08,16.735545
29,Sub-Saharan Africa (all income levels),SSF,1960,2.282688e+08,14.631387
...,...,...,...,...,...
13344,Sweden,SWE,2014,9.689555e+06,85.665000
13345,Switzerland,CHE,2014,8.190229e+06,73.844000
13346,Syrian Arab Republic,SYR,2014,2.215780e+07,57.255000
13347,Tajikistan,TJK,2014,8.295840e+06,26.692000
13348,Tanzania,TZA,2014,5.182262e+07,30.901000
13349,Thailand,THA,2014,6.772598e+07,49.174000
13350,Timor-Leste,TMP,2014,1.212107e+06,32.131000
13351,Togo,TGO,2014,7.115163e+06,39.469000
13352,Tonga,TON,2014,1.055860e+05,23.632000
13353,Trinidad and Tobago,TTO,2014,1.354483e+06,8.550000
13354,Tunisia,TUN,2014,1.099660e+07,66.645000
13355,Turkey,TUR,2014,7.593235e+07,72.891000
13356,Turkmenistan,TKM,2014,5.307188e+06,49.688000
13357,Turks and Caicos Islands,TCA,2014,3.374000e+04,91.847000
13358,Tuvalu,TUV,2014,9.893000e+03,58.782000
13359,Uganda,UGA,2014,3.778297e+07,15.766000
13360,Ukraine,UKR,2014,4.536290e+07,69.482000
13361,United Arab Emirates,ARE,2014,9.086139e+06,85.266000
13362,United Kingdom,GBR,2014,6.451038e+07,82.345000
13363,United States,USA,2014,3.188571e+08,81.447000
13364,Uruguay,URY,2014,3.419516e+06,95.152000
13365,Uzbekistan,UZB,2014,3.075770e+07,36.278000
13366,Vanuatu,VUT,2014,2.588830e+05,25.817000
13367,"Venezuela, RB",VEN,2014,3.069383e+07,88.941000
13368,Vietnam,VNM,2014,9.073000e+07,32.951000
13369,Virgin Islands (U.S.),VIR,2014,1.041700e+05,95.203000
13370,West Bank and Gaza,WBG,2014,4.294682e+06,75.026000
13371,"Yemen, Rep.",YEM,2014,2.618368e+07,34.027000
13372,Zambia,ZMB,2014,1.572134e+07,40.472000
13373,Zimbabwe,ZWE,2014,1.524586e+07,32.501000

In [38]:
data1.append(data2)

c:\python\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,CountryCode,CountryName,Total Population,Urban population (% of total),Year
0,NaN,NaN,3.034971e+09,NaN,1960
1,NaN,NaN,3.684823e+09,NaN,1970
2,NaN,NaN,4.436590e+09,NaN,1980
3,NaN,NaN,5.282716e+09,NaN,1990
4,NaN,NaN,6.115974e+09,NaN,2000
5,NaN,NaN,6.924283e+09,NaN,2010
0,ARB,Arab World,9.249590e+07,31.285384,1960
1,CSS,Caribbean small states,4.190810e+06,31.597490,1960
2,CEB,Central Europe and the Baltics,9.140158e+07,44.507921,1960
3,EAS,East Asia & Pacific (all income levels),1.042475e+09,22.471132,1960
4,EAP,East Asia & Pacific (developing only),8.964930e+08,16.917679,1960
5,EMU,Euro area,2.653965e+08,62.096947,1960
6,ECS,Europe & Central Asia (all income levels),6.674890e+08,55.378977,1960
7,ECA,Europe & Central Asia (developing only),1.553174e+08,38.066129,1960
8,EUU,European Union,4.094985e+08,61.212898,1960
9,FCS,Fragile and conflict affected situations,1.203546e+08,17.891972,1960
10,HPC,Heavily indebted poor countries (HIPC),1.624912e+08,12.236046,1960
11,HIC,High income,9.075975e+08,62.680332,1960
12,NOC,High income: nonOECD,1.866767e+08,56.107863,1960
13,OEC,High income: OECD,7.209208e+08,64.285435,1960
14,LCN,Latin America & Caribbean (all income levels),2.205642e+08,49.284688,1960
15,LAC,Latin America & Caribbean (developing only),1.776822e+08,44.863308,1960
16,LDC,Least developed countries: UN classification,2.410728e+08,9.616261,1960
17,LMY,Low & middle income,2.127373e+09,21.272894,1960
18,LIC,Low income,1.571884e+08,11.498396,1960
19,LMC,Lower middle income,9.429116e+08,19.810513,1960
20,MEA,Middle East & North Africa (all income levels),1.055126e+08,34.951334,1960
21,MNA,Middle East & North Africa (developing only),9.786942e+07,33.875012,1960
22,MIC,Middle income,1.970185e+09,22.053114,1960
23,NAC,North America,1.986244e+08,69.918403,1960
...,...,...,...,...,...
13344,SWE,Sweden,9.689555e+06,85.665000,2014
13345,CHE,Switzerland,8.190229e+06,73.844000,2014
13346,SYR,Syrian Arab Republic,2.215780e+07,57.255000,2014
13347,TJK,Tajikistan,8.295840e+06,26.692000,2014
13348,TZA,Tanzania,5.182262e+07,30.901000,2014
13349,THA,Thailand,6.772598e+07,49.174000,2014
13350,TMP,Timor-Leste,1.212107e+06,32.131000,2014
13351,TGO,Togo,7.115163e+06,39.469000,2014
13352,TON,Tonga,1.055860e+05,23.632000,2014
13353,TTO,Trinidad and Tobago,1.354483e+06,8.550000,2014
13354,TUN,Tunisia,1.099660e+07,66.645000,2014
13355,TUR,Turkey,7.593235e+07,72.891000,2014
13356,TKM,Turkmenistan,5.307188e+06,49.688000,2014
13357,TCA,Turks and Caicos Islands,3.374000e+04,91.847000,2014
13358,TUV,Tuvalu,9.893000e+03,58.782000,2014
13359,UGA,Uganda,3.778297e+07,15.766000,2014
13360,UKR,Ukraine,4.536290e+07,69.482000,2014
13361,ARE,United Arab Emirates,9.086139e+06,85.266000,2014
13362,GBR,United Kingdom,6.451038e+07,82.345000,2014
13363,USA,United States,3.188571e+08,81.447000,2014
13364,URY,Uruguay,3.419516e+06,95.152000,2014
13365,UZB,Uzbekistan,3.075770e+07,36.278000,2014
13366,VUT,Vanuatu,2.588830e+05,25.817000,2014
13367,VEN,"Venezuela, RB",3.069383e+07,88.941000,2014
13368,VNM,Vietnam,9.073000e+07,32.951000,2014
13369,VIR,Virgin Islands (U.S.),1.041700e+05,95.203000,2014
13370,WBG,West Bank and Gaza,4.294682e+06,75.026000,2014
13371,YEM,"Yemen, Rep.",2.618368e+07,34.027000,2014
13372,ZMB,Zambia,1.572134e+07,40.472000,2014
13373,ZWE,Zimbabwe,1.524586e+07,32.501000,2014

In [39]:
print(data1.index.name, data2.columns)

None Index(['CountryName', 'CountryCode', 'Year', 'Total Population',
       'Urban population (% of total)'],
      dtype='object')

In [40]:
pd.concat([data1, data2], axis=0)

c:\python\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,CountryCode,CountryName,Total Population,Urban population (% of total),Year
0,NaN,NaN,3.034971e+09,NaN,1960
1,NaN,NaN,3.684823e+09,NaN,1970
2,NaN,NaN,4.436590e+09,NaN,1980
3,NaN,NaN,5.282716e+09,NaN,1990
4,NaN,NaN,6.115974e+09,NaN,2000
5,NaN,NaN,6.924283e+09,NaN,2010
0,ARB,Arab World,9.249590e+07,31.285384,1960
1,CSS,Caribbean small states,4.190810e+06,31.597490,1960
2,CEB,Central Europe and the Baltics,9.140158e+07,44.507921,1960
3,EAS,East Asia & Pacific (all income levels),1.042475e+09,22.471132,1960
4,EAP,East Asia & Pacific (developing only),8.964930e+08,16.917679,1960
5,EMU,Euro area,2.653965e+08,62.096947,1960
6,ECS,Europe & Central Asia (all income levels),6.674890e+08,55.378977,1960
7,ECA,Europe & Central Asia (developing only),1.553174e+08,38.066129,1960
8,EUU,European Union,4.094985e+08,61.212898,1960
9,FCS,Fragile and conflict affected situations,1.203546e+08,17.891972,1960
10,HPC,Heavily indebted poor countries (HIPC),1.624912e+08,12.236046,1960
11,HIC,High income,9.075975e+08,62.680332,1960
12,NOC,High income: nonOECD,1.866767e+08,56.107863,1960
13,OEC,High income: OECD,7.209208e+08,64.285435,1960
14,LCN,Latin America & Caribbean (all income levels),2.205642e+08,49.284688,1960
15,LAC,Latin America & Caribbean (developing only),1.776822e+08,44.863308,1960
16,LDC,Least developed countries: UN classification,2.410728e+08,9.616261,1960
17,LMY,Low & middle income,2.127373e+09,21.272894,1960
18,LIC,Low income,1.571884e+08,11.498396,1960
19,LMC,Lower middle income,9.429116e+08,19.810513,1960
20,MEA,Middle East & North Africa (all income levels),1.055126e+08,34.951334,1960
21,MNA,Middle East & North Africa (developing only),9.786942e+07,33.875012,1960
22,MIC,Middle income,1.970185e+09,22.053114,1960
23,NAC,North America,1.986244e+08,69.918403,1960
...,...,...,...,...,...
13344,SWE,Sweden,9.689555e+06,85.665000,2014
13345,CHE,Switzerland,8.190229e+06,73.844000,2014
13346,SYR,Syrian Arab Republic,2.215780e+07,57.255000,2014
13347,TJK,Tajikistan,8.295840e+06,26.692000,2014
13348,TZA,Tanzania,5.182262e+07,30.901000,2014
13349,THA,Thailand,6.772598e+07,49.174000,2014
13350,TMP,Timor-Leste,1.212107e+06,32.131000,2014
13351,TGO,Togo,7.115163e+06,39.469000,2014
13352,TON,Tonga,1.055860e+05,23.632000,2014
13353,TTO,Trinidad and Tobago,1.354483e+06,8.550000,2014
13354,TUN,Tunisia,1.099660e+07,66.645000,2014
13355,TUR,Turkey,7.593235e+07,72.891000,2014
13356,TKM,Turkmenistan,5.307188e+06,49.688000,2014
13357,TCA,Turks and Caicos Islands,3.374000e+04,91.847000,2014
13358,TUV,Tuvalu,9.893000e+03,58.782000,2014
13359,UGA,Uganda,3.778297e+07,15.766000,2014
13360,UKR,Ukraine,4.536290e+07,69.482000,2014
13361,ARE,United Arab Emirates,9.086139e+06,85.266000,2014
13362,GBR,United Kingdom,6.451038e+07,82.345000,2014
13363,USA,United States,3.188571e+08,81.447000,2014
13364,URY,Uruguay,3.419516e+06,95.152000,2014
13365,UZB,Uzbekistan,3.075770e+07,36.278000,2014
13366,VUT,Vanuatu,2.588830e+05,25.817000,2014
13367,VEN,"Venezuela, RB",3.069383e+07,88.941000,2014
13368,VNM,Vietnam,9.073000e+07,32.951000,2014
13369,VIR,Virgin Islands (U.S.),1.041700e+05,95.203000,2014
13370,WBG,West Bank and Gaza,4.294682e+06,75.026000,2014
13371,YEM,"Yemen, Rep.",2.618368e+07,34.027000,2014
13372,ZMB,Zambia,1.572134e+07,40.472000,2014
13373,ZWE,Zimbabwe,1.524586e+07,32.501000,2014

In [41]:
x = pd.concat([data1, data2], keys=[1970, 2014], axis=0)
x

c:\python\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

           CountryCode                                     CountryName  \
1970 0             NaN                                             NaN
     1             NaN                                             NaN
     2             NaN                                             NaN
     3             NaN                                             NaN
     4             NaN                                             NaN
     5             NaN                                             NaN
2014 0             ARB                                      Arab World
     1             CSS                          Caribbean small states
     2             CEB                  Central Europe and the Baltics
     3             EAS         East Asia & Pacific (all income levels)
     4             EAP           East Asia & Pacific (developing only)
     5             EMU                                       Euro area
     6             ECS       Europe & Central Asia (all income levels)
     7             ECA         Europe & Central Asia (developing only)
     8             EUU                                  European Union
     9             FCS        Fragile and conflict affected situations
     10            HPC          Heavily indebted poor countries (HIPC)
     11            HIC                                     High income
     12            NOC                            High income: nonOECD
     13            OEC                               High income: OECD
     14            LCN   Latin America & Caribbean (all income levels)
     15            LAC     Latin America & Caribbean (developing only)
     16            LDC    Least developed countries: UN classification
     17            LMY                             Low & middle income
     18            LIC                                      Low income
     19            LMC                             Lower middle income
     20            MEA  Middle East & North Africa (all income levels)
     21            MNA    Middle East & North Africa (developing only)
     22            MIC                                   Middle income
     23            NAC                                   North America
...                ...                                             ...
     13344         SWE                                          Sweden
     13345         CHE                                     Switzerland
     13346         SYR                            Syrian Arab Republic
     13347         TJK                                      Tajikistan
     13348         TZA                                        Tanzania
     13349         THA                                        Thailand
     13350         TMP                                     Timor-Leste
     13351         TGO                                            Togo
     13352         TON                                           Tonga
     13353         TTO                             Trinidad and Tobago
     13354         TUN                                         Tunisia
     13355         TUR                                          Turkey
     13356         TKM                                    Turkmenistan
     13357         TCA                        Turks and Caicos Islands
     13358         TUV                                          Tuvalu
     13359         UGA                                          Uganda
     13360         UKR                                         Ukraine
     13361         ARE                            United Arab Emirates
     13362         GBR                                  United Kingdom
     13363         USA                                   United States
     13364         URY                                         Uruguay
     13365         UZB                                      Uzbekistan
     13366         VUT                                         Vanuatu
     13367         VEN                                   Venezuela, RB
     13368         VNM                                         Vietnam
     13369         VIR                           Virgin Islands (U.S.)
     13370         WBG                              West Bank and Gaza
     13371         YEM                                     Yemen, Rep.
     13372         ZMB                                          Zambia
     13373         ZWE                                        Zimbabwe

            Total Population  Urban population (% of total)  Year
1970 0          3.034971e+09                            NaN  1960
     1          3.684823e+09                            NaN  1970
     2          4.436590e+09                            NaN  1980
     3          5.282716e+09                            NaN  1990
     4          6.115974e+09                            NaN  2000
     5          6.924283e+09                            NaN  2010
2014 0          9.249590e+07                      31.285384  1960
     1          4.190810e+06                      31.597490  1960
     2          9.140158e+07                      44.507921  1960
     3          1.042475e+09                      22.471132  1960
     4          8.964930e+08                      16.917679  1960
     5          2.653965e+08                      62.096947  1960
     6          6.674890e+08                      55.378977  1960
     7          1.553174e+08                      38.066129  1960
     8          4.094985e+08                      61.212898  1960
     9          1.203546e+08                      17.891972  1960
     10         1.624912e+08                      12.236046  1960
     11         9.075975e+08                      62.680332  1960
     12         1.866767e+08                      56.107863  1960
     13         7.209208e+08                      64.285435  1960
     14         2.205642e+08                      49.284688  1960
     15         1.776822e+08                      44.863308  1960
     16         2.410728e+08                       9.616261  1960
     17         2.127373e+09                      21.272894  1960
     18         1.571884e+08                      11.498396  1960
     19         9.429116e+08                      19.810513  1960
     20         1.055126e+08                      34.951334  1960
     21         9.786942e+07                      33.875012  1960
     22         1.970185e+09                      22.053114  1960
     23         1.986244e+08                      69.918403  1960
...                      ...                            ...   ...
     13344      9.689555e+06                      85.665000  2014
     13345      8.190229e+06                      73.844000  2014
     13346      2.215780e+07                      57.255000  2014
     13347      8.295840e+06                      26.692000  2014
     13348      5.182262e+07                      30.901000  2014
     13349      6.772598e+07                      49.174000  2014
     13350      1.212107e+06                      32.131000  2014
     13351      7.115163e+06                      39.469000  2014
     13352      1.055860e+05                      23.632000  2014
     13353      1.354483e+06                       8.550000  2014
     13354      1.099660e+07                      66.645000  2014
     13355      7.593235e+07                      72.891000  2014
     13356      5.307188e+06                      49.688000  2014
     13357      3.374000e+04                      91.847000  2014
     13358      9.893000e+03                      58.782000  2014
     13359      3.778297e+07                      15.766000  2014
     13360      4.536290e+07                      69.482000  2014
     13361      9.086139e+06                      85.266000  2014
     13362      6.451038e+07                      82.345000  2014
     13363      3.188571e+08                      81.447000  2014
     13364      3.419516e+06                      95.152000  2014
     13365      3.075770e+07                      36.278000  2014
     13366      2.588830e+05                      25.817000  2014
     13367      3.069383e+07                      88.941000  2014
     13368      9.073000e+07                      32.951000  2014
     13369      1.041700e+05                      95.203000  2014
     13370      4.294682e+06                      75.026000  2014
     13371      2.618368e+07                      34.027000  2014
     13372      1.572134e+07                      40.472000  2014
     13373      1.524586e+07                      32.501000  2014

[13380 rows x 5 columns]

In [42]:
print(x.loc[2014])

      CountryCode                                     CountryName  \
0             ARB                                      Arab World
1             CSS                          Caribbean small states
2             CEB                  Central Europe and the Baltics
3             EAS         East Asia & Pacific (all income levels)
4             EAP           East Asia & Pacific (developing only)
5             EMU                                       Euro area
6             ECS       Europe & Central Asia (all income levels)
7             ECA         Europe & Central Asia (developing only)
8             EUU                                  European Union
9             FCS        Fragile and conflict affected situations
10            HPC          Heavily indebted poor countries (HIPC)
11            HIC                                     High income
12            NOC                            High income: nonOECD
13            OEC                               High income: OECD
14            LCN   Latin America & Caribbean (all income levels)
15            LAC     Latin America & Caribbean (developing only)
16            LDC    Least developed countries: UN classification
17            LMY                             Low & middle income
18            LIC                                      Low income
19            LMC                             Lower middle income
20            MEA  Middle East & North Africa (all income levels)
21            MNA    Middle East & North Africa (developing only)
22            MIC                                   Middle income
23            NAC                                   North America
24            OED                                    OECD members
25            OSS                              Other small states
26            PSS                     Pacific island small states
27            SST                                    Small states
28            SAS                                      South Asia
29            SSF          Sub-Saharan Africa (all income levels)
...           ...                                             ...
13344         SWE                                          Sweden
13345         CHE                                     Switzerland
13346         SYR                            Syrian Arab Republic
13347         TJK                                      Tajikistan
13348         TZA                                        Tanzania
13349         THA                                        Thailand
13350         TMP                                     Timor-Leste
13351         TGO                                            Togo
13352         TON                                           Tonga
13353         TTO                             Trinidad and Tobago
13354         TUN                                         Tunisia
13355         TUR                                          Turkey
13356         TKM                                    Turkmenistan
13357         TCA                        Turks and Caicos Islands
13358         TUV                                          Tuvalu
13359         UGA                                          Uganda
13360         UKR                                         Ukraine
13361         ARE                            United Arab Emirates
13362         GBR                                  United Kingdom
13363         USA                                   United States
13364         URY                                         Uruguay
13365         UZB                                      Uzbekistan
13366         VUT                                         Vanuatu
13367         VEN                                   Venezuela, RB
13368         VNM                                         Vietnam
13369         VIR                           Virgin Islands (U.S.)
13370         WBG                              West Bank and Gaza
13371         YEM                                     Yemen, Rep.
13372         ZMB                                          Zambia
13373         ZWE                                        Zimbabwe

       Total Population  Urban population (% of total)  Year
0          9.249590e+07                      31.285384  1960
1          4.190810e+06                      31.597490  1960
2          9.140158e+07                      44.507921  1960
3          1.042475e+09                      22.471132  1960
4          8.964930e+08                      16.917679  1960
5          2.653965e+08                      62.096947  1960
6          6.674890e+08                      55.378977  1960
7          1.553174e+08                      38.066129  1960
8          4.094985e+08                      61.212898  1960
9          1.203546e+08                      17.891972  1960
10         1.624912e+08                      12.236046  1960
11         9.075975e+08                      62.680332  1960
12         1.866767e+08                      56.107863  1960
13         7.209208e+08                      64.285435  1960
14         2.205642e+08                      49.284688  1960
15         1.776822e+08                      44.863308  1960
16         2.410728e+08                       9.616261  1960
17         2.127373e+09                      21.272894  1960
18         1.571884e+08                      11.498396  1960
19         9.429116e+08                      19.810513  1960
20         1.055126e+08                      34.951334  1960
21         9.786942e+07                      33.875012  1960
22         1.970185e+09                      22.053114  1960
23         1.986244e+08                      69.918403  1960
24         7.866482e+08                      62.480915  1960
25         6.590560e+06                      14.337844  1960
26         8.613780e+05                      22.043762  1960
27         1.164275e+07                      21.120573  1960
28         5.720361e+08                      16.735545  1960
29         2.282688e+08                      14.631387  1960
...                 ...                            ...   ...
13344      9.689555e+06                      85.665000  2014
13345      8.190229e+06                      73.844000  2014
13346      2.215780e+07                      57.255000  2014
13347      8.295840e+06                      26.692000  2014
13348      5.182262e+07                      30.901000  2014
13349      6.772598e+07                      49.174000  2014
13350      1.212107e+06                      32.131000  2014
13351      7.115163e+06                      39.469000  2014
13352      1.055860e+05                      23.632000  2014
13353      1.354483e+06                       8.550000  2014
13354      1.099660e+07                      66.645000  2014
13355      7.593235e+07                      72.891000  2014
13356      5.307188e+06                      49.688000  2014
13357      3.374000e+04                      91.847000  2014
13358      9.893000e+03                      58.782000  2014
13359      3.778297e+07                      15.766000  2014
13360      4.536290e+07                      69.482000  2014
13361      9.086139e+06                      85.266000  2014
13362      6.451038e+07                      82.345000  2014
13363      3.188571e+08                      81.447000  2014
13364      3.419516e+06                      95.152000  2014
13365      3.075770e+07                      36.278000  2014
13366      2.588830e+05                      25.817000  2014
13367      3.069383e+07                      88.941000  2014
13368      9.073000e+07                      32.951000  2014
13369      1.041700e+05                      95.203000  2014
13370      4.294682e+06                      75.026000  2014
13371      2.618368e+07                      34.027000  2014
13372      1.572134e+07                      40.472000  2014
13373      1.524586e+07                      32.501000  2014

[13374 rows x 5 columns]

In [43]:
import numpy as np

In [44]:
A = np.arange(8).reshape(2,4) + 1

In [45]:
A

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [46]:
B = np.arange(6).reshape(2,3) + 2

In [47]:
B

array([[2, 3, 4],
       [5, 6, 7]])

In [48]:
C = np.arange(12).reshape(3,4) + 3

In [49]:
C

array([[ 3,  4,  5,  6],
       [ 7,  8,  9, 10],
       [11, 12, 13, 14]])

In [50]:
# Stacking arrays horizontally
np.hstack([B, A])

array([[2, 3, 4, 1, 2, 3, 4],
       [5, 6, 7, 5, 6, 7, 8]])

In [51]:
np.concatenate([B, A], axis=1)

array([[2, 3, 4, 1, 2, 3, 4],
       [5, 6, 7, 5, 6, 7, 8]])

In [52]:
# Stacking arrays vertically
np.vstack([A, C])

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 3,  4,  5,  6],
       [ 7,  8,  9, 10],
       [11, 12, 13, 14]])

In [53]:
np.concatenate([A, C], axis=0)

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 3,  4,  5,  6],
       [ 7,  8,  9, 10],
       [11, 12, 13, 14]])

In [54]:
print(np.concatenate([A, B],axis=1))

[[1 2 3 4 2 3 4]
 [5 6 7 8 5 6 7]]

In [55]:
# inner and outer join
pd.concat([data1, data2], axis=1, join='inner')

,Year,Total Population,CountryName,CountryCode,Year,Total Population,Urban population (% of total)
0,1960,3.034971e+09,Arab World,ARB,1960,9.249590e+07,31.285384
1,1970,3.684823e+09,Caribbean small states,CSS,1960,4.190810e+06,31.597490
2,1980,4.436590e+09,Central Europe and the Baltics,CEB,1960,9.140158e+07,44.507921
3,1990,5.282716e+09,East Asia & Pacific (all income levels),EAS,1960,1.042475e+09,22.471132
4,2000,6.115974e+09,East Asia & Pacific (developing only),EAP,1960,8.964930e+08,16.917679
5,2010,6.924283e+09,Euro area,EMU,1960,2.653965e+08,62.096947

In [56]:
pd.concat([data1, data2], axis=1, join='outer')

,Year,Total Population,CountryName,CountryCode,Year,Total Population,Urban population (% of total)
0,1960.0,3.034971e+09,Arab World,ARB,1960,9.249590e+07,31.285384
1,1970.0,3.684823e+09,Caribbean small states,CSS,1960,4.190810e+06,31.597490
2,1980.0,4.436590e+09,Central Europe and the Baltics,CEB,1960,9.140158e+07,44.507921
3,1990.0,5.282716e+09,East Asia & Pacific (all income levels),EAS,1960,1.042475e+09,22.471132
4,2000.0,6.115974e+09,East Asia & Pacific (developing only),EAP,1960,8.964930e+08,16.917679
5,2010.0,6.924283e+09,Euro area,EMU,1960,2.653965e+08,62.096947
6,NaN,NaN,Europe & Central Asia (all income levels),ECS,1960,6.674890e+08,55.378977
7,NaN,NaN,Europe & Central Asia (developing only),ECA,1960,1.553174e+08,38.066129
8,NaN,NaN,European Union,EUU,1960,4.094985e+08,61.212898
9,NaN,NaN,Fragile and conflict affected situations,FCS,1960,1.203546e+08,17.891972
10,NaN,NaN,Heavily indebted poor countries (HIPC),HPC,1960,1.624912e+08,12.236046
11,NaN,NaN,High income,HIC,1960,9.075975e+08,62.680332
12,NaN,NaN,High income: nonOECD,NOC,1960,1.866767e+08,56.107863
13,NaN,NaN,High income: OECD,OEC,1960,7.209208e+08,64.285435
14,NaN,NaN,Latin America & Caribbean (all income levels),LCN,1960,2.205642e+08,49.284688
15,NaN,NaN,Latin America & Caribbean (developing only),LAC,1960,1.776822e+08,44.863308
16,NaN,NaN,Least developed countries: UN classification,LDC,1960,2.410728e+08,9.616261
17,NaN,NaN,Low & middle income,LMY,1960,2.127373e+09,21.272894
18,NaN,NaN,Low income,LIC,1960,1.571884e+08,11.498396
19,NaN,NaN,Lower middle income,LMC,1960,9.429116e+08,19.810513
20,NaN,NaN,Middle East & North Africa (all income levels),MEA,1960,1.055126e+08,34.951334
21,NaN,NaN,Middle East & North Africa (developing only),MNA,1960,9.786942e+07,33.875012
22,NaN,NaN,Middle income,MIC,1960,1.970185e+09,22.053114
23,NaN,NaN,North America,NAC,1960,1.986244e+08,69.918403
24,NaN,NaN,OECD members,OED,1960,7.866482e+08,62.480915
25,NaN,NaN,Other small states,OSS,1960,6.590560e+06,14.337844
26,NaN,NaN,Pacific island small states,PSS,1960,8.613780e+05,22.043762
27,NaN,NaN,Small states,SST,1960,1.164275e+07,21.120573
28,NaN,NaN,South Asia,SAS,1960,5.720361e+08,16.735545
29,NaN,NaN,Sub-Saharan Africa (all income levels),SSF,1960,2.282688e+08,14.631387
...,...,...,...,...,...,...,...
13344,NaN,NaN,Sweden,SWE,2014,9.689555e+06,85.665000
13345,NaN,NaN,Switzerland,CHE,2014,8.190229e+06,73.844000
13346,NaN,NaN,Syrian Arab Republic,SYR,2014,2.215780e+07,57.255000
13347,NaN,NaN,Tajikistan,TJK,2014,8.295840e+06,26.692000
13348,NaN,NaN,Tanzania,TZA,2014,5.182262e+07,30.901000
13349,NaN,NaN,Thailand,THA,2014,6.772598e+07,49.174000
13350,NaN,NaN,Timor-Leste,TMP,2014,1.212107e+06,32.131000
13351,NaN,NaN,Togo,TGO,2014,7.115163e+06,39.469000
13352,NaN,NaN,Tonga,TON,2014,1.055860e+05,23.632000
13353,NaN,NaN,Trinidad and Tobago,TTO,2014,1.354483e+06,8.550000
13354,NaN,NaN,Tunisia,TUN,2014,1.099660e+07,66.645000
13355,NaN,NaN,Turkey,TUR,2014,7.593235e+07,72.891000
13356,NaN,NaN,Turkmenistan,TKM,2014,5.307188e+06,49.688000
13357,NaN,NaN,Turks and Caicos Islands,TCA,2014,3.374000e+04,91.847000
13358,NaN,NaN,Tuvalu,TUV,2014,9.893000e+03,58.782000
13359,NaN,NaN,Uganda,UGA,2014,3.778297e+07,15.766000
13360,NaN,NaN,Ukraine,UKR,2014,4.536290e+07,69.482000
13361,NaN,NaN,United Arab Emirates,ARE,2014,9.086139e+06,85.266000
13362,NaN,NaN,United Kingdom,GBR,2014,6.451038e+07,82.345000
13363,NaN,NaN,United States,USA,2014,3.188571e+08,81.447000
13364,NaN,NaN,Uruguay,URY,2014,3.419516e+06,95.152000
13365,NaN,NaN,Uzbekistan,UZB,2014,3.075770e+07,36.278000
13366,NaN,NaN,Vanuatu,VUT,2014,2.588830e+05,25.817000
13367,NaN,NaN,"Venezuela, RB",VEN,2014,3.069383e+07,88.941000
13368,NaN,NaN,Vietnam,VNM,2014,9.073000e+07,32.951000
13369,NaN,NaN,Virgin Islands (U.S.),VIR,2014,1.041700e+05,95.203000
13370,NaN,NaN,West Bank and Gaza,WBG,2014,4.294682e+06,75.026000
13371,NaN,NaN,"Yemen, Rep.",YEM,2014,2.618368e+07,34.027000
13372,NaN,NaN,Zambia,ZMB,2014,1.572134e+07,40.472000
13373,NaN,NaN,Zimbabwe,ZWE,2014,1.524586e+07,32.501000

In [57]:
pd.concat([data1, data2], join='inner', axis=0)

       Year  Total Population
0      1960      3.034971e+09
1      1970      3.684823e+09
2      1980      4.436590e+09
3      1990      5.282716e+09
4      2000      6.115974e+09
5      2010      6.924283e+09
0      1960      9.249590e+07
1      1960      4.190810e+06
2      1960      9.140158e+07
3      1960      1.042475e+09
4      1960      8.964930e+08
5      1960      2.653965e+08
6      1960      6.674890e+08
7      1960      1.553174e+08
8      1960      4.094985e+08
9      1960      1.203546e+08
10     1960      1.624912e+08
11     1960      9.075975e+08
12     1960      1.866767e+08
13     1960      7.209208e+08
14     1960      2.205642e+08
15     1960      1.776822e+08
16     1960      2.410728e+08
17     1960      2.127373e+09
18     1960      1.571884e+08
19     1960      9.429116e+08
20     1960      1.055126e+08
21     1960      9.786942e+07
22     1960      1.970185e+09
23     1960      1.986244e+08
...     ...               ...
13344  2014      9.689555e+06
13345  2014      8.190229e+06
13346  2014      2.215780e+07
13347  2014      8.295840e+06
13348  2014      5.182262e+07
13349  2014      6.772598e+07
13350  2014      1.212107e+06
13351  2014      7.115163e+06
13352  2014      1.055860e+05
13353  2014      1.354483e+06
13354  2014      1.099660e+07
13355  2014      7.593235e+07
13356  2014      5.307188e+06
13357  2014      3.374000e+04
13358  2014      9.893000e+03
13359  2014      3.778297e+07
13360  2014      4.536290e+07
13361  2014      9.086139e+06
13362  2014      6.451038e+07
13363  2014      3.188571e+08
13364  2014      3.419516e+06
13365  2014      3.075770e+07
13366  2014      2.588830e+05
13367  2014      3.069383e+07
13368  2014      9.073000e+07
13369  2014      1.041700e+05
13370  2014      4.294682e+06
13371  2014      2.618368e+07
13372  2014      1.572134e+07
13373  2014      1.524586e+07

[13380 rows x 2 columns]

In [58]:
pd.concat([data1, data2], join='outer', axis=1)

,Year,Total Population,CountryName,CountryCode,Year,Total Population,Urban population (% of total)
0,1960.0,3.034971e+09,Arab World,ARB,1960,9.249590e+07,31.285384
1,1970.0,3.684823e+09,Caribbean small states,CSS,1960,4.190810e+06,31.597490
2,1980.0,4.436590e+09,Central Europe and the Baltics,CEB,1960,9.140158e+07,44.507921
3,1990.0,5.282716e+09,East Asia & Pacific (all income levels),EAS,1960,1.042475e+09,22.471132
4,2000.0,6.115974e+09,East Asia & Pacific (developing only),EAP,1960,8.964930e+08,16.917679
5,2010.0,6.924283e+09,Euro area,EMU,1960,2.653965e+08,62.096947
6,NaN,NaN,Europe & Central Asia (all income levels),ECS,1960,6.674890e+08,55.378977
7,NaN,NaN,Europe & Central Asia (developing only),ECA,1960,1.553174e+08,38.066129
8,NaN,NaN,European Union,EUU,1960,4.094985e+08,61.212898
9,NaN,NaN,Fragile and conflict affected situations,FCS,1960,1.203546e+08,17.891972
10,NaN,NaN,Heavily indebted poor countries (HIPC),HPC,1960,1.624912e+08,12.236046
11,NaN,NaN,High income,HIC,1960,9.075975e+08,62.680332
12,NaN,NaN,High income: nonOECD,NOC,1960,1.866767e+08,56.107863
13,NaN,NaN,High income: OECD,OEC,1960,7.209208e+08,64.285435
14,NaN,NaN,Latin America & Caribbean (all income levels),LCN,1960,2.205642e+08,49.284688
15,NaN,NaN,Latin America & Caribbean (developing only),LAC,1960,1.776822e+08,44.863308
16,NaN,NaN,Least developed countries: UN classification,LDC,1960,2.410728e+08,9.616261
17,NaN,NaN,Low & middle income,LMY,1960,2.127373e+09,21.272894
18,NaN,NaN,Low income,LIC,1960,1.571884e+08,11.498396
19,NaN,NaN,Lower middle income,LMC,1960,9.429116e+08,19.810513
20,NaN,NaN,Middle East & North Africa (all income levels),MEA,1960,1.055126e+08,34.951334
21,NaN,NaN,Middle East & North Africa (developing only),MNA,1960,9.786942e+07,33.875012
22,NaN,NaN,Middle income,MIC,1960,1.970185e+09,22.053114
23,NaN,NaN,North America,NAC,1960,1.986244e+08,69.918403
24,NaN,NaN,OECD members,OED,1960,7.866482e+08,62.480915
25,NaN,NaN,Other small states,OSS,1960,6.590560e+06,14.337844
26,NaN,NaN,Pacific island small states,PSS,1960,8.613780e+05,22.043762
27,NaN,NaN,Small states,SST,1960,1.164275e+07,21.120573
28,NaN,NaN,South Asia,SAS,1960,5.720361e+08,16.735545
29,NaN,NaN,Sub-Saharan Africa (all income levels),SSF,1960,2.282688e+08,14.631387
...,...,...,...,...,...,...,...
13344,NaN,NaN,Sweden,SWE,2014,9.689555e+06,85.665000
13345,NaN,NaN,Switzerland,CHE,2014,8.190229e+06,73.844000
13346,NaN,NaN,Syrian Arab Republic,SYR,2014,2.215780e+07,57.255000
13347,NaN,NaN,Tajikistan,TJK,2014,8.295840e+06,26.692000
13348,NaN,NaN,Tanzania,TZA,2014,5.182262e+07,30.901000
13349,NaN,NaN,Thailand,THA,2014,6.772598e+07,49.174000
13350,NaN,NaN,Timor-Leste,TMP,2014,1.212107e+06,32.131000
13351,NaN,NaN,Togo,TGO,2014,7.115163e+06,39.469000
13352,NaN,NaN,Tonga,TON,2014,1.055860e+05,23.632000
13353,NaN,NaN,Trinidad and Tobago,TTO,2014,1.354483e+06,8.550000
13354,NaN,NaN,Tunisia,TUN,2014,1.099660e+07,66.645000
13355,NaN,NaN,Turkey,TUR,2014,7.593235e+07,72.891000
13356,NaN,NaN,Turkmenistan,TKM,2014,5.307188e+06,49.688000
13357,NaN,NaN,Turks and Caicos Islands,TCA,2014,3.374000e+04,91.847000
13358,NaN,NaN,Tuvalu,TUV,2014,9.893000e+03,58.782000
13359,NaN,NaN,Uganda,UGA,2014,3.778297e+07,15.766000
13360,NaN,NaN,Ukraine,UKR,2014,4.536290e+07,69.482000
13361,NaN,NaN,United Arab Emirates,ARE,2014,9.086139e+06,85.266000
13362,NaN,NaN,United Kingdom,GBR,2014,6.451038e+07,82.345000
13363,NaN,NaN,United States,USA,2014,3.188571e+08,81.447000
13364,NaN,NaN,Uruguay,URY,2014,3.419516e+06,95.152000
13365,NaN,NaN,Uzbekistan,UZB,2014,3.075770e+07,36.278000
13366,NaN,NaN,Vanuatu,VUT,2014,2.588830e+05,25.817000
13367,NaN,NaN,"Venezuela, RB",VEN,2014,3.069383e+07,88.941000
13368,NaN,NaN,Vietnam,VNM,2014,9.073000e+07,32.951000
13369,NaN,NaN,Virgin Islands (U.S.),VIR,2014,1.041700e+05,95.203000
13370,NaN,NaN,West Bank and Gaza,WBG,2014,4.294682e+06,75.026000
13371,NaN,NaN,"Yemen, Rep.",YEM,2014,2.618368e+07,34.027000
13372,NaN,NaN,Zambia,ZMB,2014,1.572134e+07,40.472000
13373,NaN,NaN,Zimbabwe,ZWE,2014,1.524586e+07,32.501000